<head>
    <meta charset="utf-8" />
    <meta name="author" content="Meili Vanegas-Hernandez">
    <meta name="description" content="Ideas COL">
    <link rel="icon" href="./assets/favicon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86419002-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-86419002-5');
    </script>
    <title>Ideas COL</title>
</head>